@model DealershipLab1.Models.AutoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AutoModel</h4>
    <hr />
    <dl class="dl-horizontal">
    @*    <dt>
       <img src="@Url.Content(Model.Image)" alt="Image" />
    </dt>  *@
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSRP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
